.first-day{
  border-bottom: 1px solid black;
}
.second-day{
  border-bottom: 1px solid black;
}
.third-day{
  border-bottom: 1px solid black;
}
.fourth-day{
  border-bottom: 1px solid black;
}
.fifth-day{
  border-bottom: 1px solid black;
}
.sixth-day{
  border-bottom: 1px solid black;
}
